<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yinkash.bioquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yinkash.bioquiz.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.yinkash.bioquiz.BioQuiz">
        </activity>
        <activity android:name="com.yinkash.bioquiz.CheatActivity">
        </activity>
        <activity android:name="com.yinkash.bioquiz.RegisterActivity">
        </activity>
        <activity android:name="com.yinkash.bioquiz.UserWelcomeActivity">
        </activity>
        <activity android:name="com.yinkash.bioquiz.LeaderboardActivity">
        </activity>
    </application>

</manifest>